.container-fluid {
	padding-right: 8%;
	padding-left: 8%;
}
.project {
    margin-bottom: 150px;
}
.preview {
    display: block;
    position: relative;
}


.preview--left .browser {
    margin-right: 7.5%;
}
.preview--right .browser {
    margin-left: 7.5%;
}

.info {
    text-align: center;
}